---
// Foundations
import "../styles/global.css";
import BaseHead from "@/components/fundations/head/BaseHead.astro";
// Components
import Footer from "@/components/global/Footer.astro";
import Navigation from "@/components/global/Navigation.astro";
// Scripts
import AOSBody from "@/components/fundations/scripts/AOSBody.astro";
// Hides nav and footer on selected screens by passing
// the hideNav and hideFooter props
// <BaseLayout hideNav={true} hideFooter={true}>
const {
  hideNav = false,
  hideFooter = false,
  pageTitle,
  pageDescription,
  canonicalPath,
  ogImage,
  ogImageAlt,
  openGraphType = "website",
  noindex = false,
  extraJsonLd = [],
} = Astro.props;
---

<html lang="en" class="scroll-smooth">
  <head>
    <BaseHead
      pageTitle={pageTitle}
      pageDescription={pageDescription}
      canonicalPath={canonicalPath}
      ogImage={ogImage}
      ogImageAlt={ogImageAlt}
      openGraphType={openGraphType}
      noindex={noindex}
      extraJsonLd={extraJsonLd}
    />
  </head>
  <body class="dark:bg-base-900 bg-base-100">
    {!hideNav && <Navigation />}

    <main class="grow"><slot /></main>
    {!hideFooter && <Footer />}

    <AOSBody />
  </body>
</html>
