---
// Assets
import { Image } from "astro:assets";
// Fundations
import BaseLayout from "@/layouts/BaseLayout.astro";
import Button from "@/components/fundations/elements/Button.astro";
import Text from "@/components/fundations/elements/Text.astro";
import Wrapper from "@/components/fundations/containers/Wrapper.astro";
// Components
const { frontmatter } = Astro.props;
---

<BaseLayout>
  <section>
    <Wrapper variant="standard" class="py-24 lg:py-48">
      <div class="grid grid-cols-1 lg:grid-cols-2 gap-8">
        <div class="lg:order-last">
          <Text
            tag="a"
            href="/store"
            variant="textSM"
            class="text-base-500 dark:text-base-400 flex items-center gap-2"
          >
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="32"
              height="32"
              fill="currentColor"
              viewBox="0 0 256 256"
              class="size-4"
              ><path
                d="M165.66,202.34a8,8,0,0,1-11.32,11.32l-80-80a8,8,0,0,1,0-11.32l80-80a8,8,0,0,1,11.32,11.32L91.31,128Z"
              ></path></svg
            >
            Go back
          </Text>
          <div class="overflow-hidden mt-12">
            <Text
              tag="h1"
              variant="displayXL"
              data-aos="fade-up"
              data-aos-duration="1000"
              class="dark:text-white text-base-900 font-medium tracking-tighter"
            >
              {frontmatter.title}
            </Text>
          </div>
          <div class="overflow-hidden">
            <Text
              tag="p"
              variant="textBase"
              data-aos="fade-up"
              data-aos-duration="1500"
              class="text-base-500 mt-2 dark:text-base-300 lg:text-balance lg:col-span-2"
            >
              {frontmatter.description}
            </Text>
          </div>
          <div class="flex ml-auto mt-4 overflow-hidden">
            <Button
              isLink
              href="#_"
              size="base"
              variant="default"
              title="your title"
              aria-label="your label"
              data-aos="fade-up"
              data-aos-duration="2000"
            >
              Buy {frontmatter.title} for ${frontmatter.price}
            </Button>
          </div>
          <div class="mt-12">
            <Text
              tag="h3"
              variant="displayMD"
              class="dark:text-white text-base-900 font-medium tracking-tighter"
              >Specificatons</Text
            >
            <dl
              class="flex flex-col text-xs mt-2 divide-y divide-base-200 dark:divide-base-800 border-y border-base-200 dark:border-base-800"
            >
              {
                frontmatter.specifications.map((spec) => (
                  <div class="flex justify-between items-baseline  py-2">
                    <dt>
                      <Text
                        tag="h4"
                        variant="textXL"
                        class="dark:text-white text-base-900 font-medium tracking-tighter"
                      >
                        {spec.name}
                      </Text>
                    </dt>
                    <dd class="text-base-500">
                      <Text
                        tag="p"
                        variant="textBase"
                        class="text-base-700 dark:text-base-400"
                      >
                        {spec.value}
                      </Text>
                    </dd>
                  </div>
                ))
              }
            </dl>
          </div>
          <div class="grid grid-cols-1 lg:grid-cols-2 gap-8 mt-12">
            <div>
              <Text
                tag="h3"
                variant="displayMD"
                class="dark:text-white text-base-900 font-medium tracking-tighter"
                >Includes</Text
              >
              <ul
                role="list"
                class="text-xs mt-2 flex flex-col divide-y divide-base-200 dark:divide-base-800 border-y border-base-200 dark:border-base-800"
              >
                {
                  frontmatter.highlights.map((highlight) => (
                    <li class="py-2">
                      <Text
                        tag="p"
                        variant="textXS"
                        class="text-base-700 dark:text-base-400"
                      >
                        {highlight}
                      </Text>
                    </li>
                  ))
                }
              </ul>
            </div>
            <div>
              <Text
                tag="h3"
                variant="displayMD"
                class="dark:text-white text-base-900 font-medium tracking-tighter"
                >License</Text
              >
              <Text
                tag="p"
                variant="textXS"
                class="text-base-700 dark:text-base-400 mt-2"
              >
                {frontmatter.license}
              </Text>
            </div>
          </div>
          <div class="mt-12">
            <Text
              tag="h3"
              variant="displayMD"
              class="dark:text-white text-base-900 font-medium tracking-tighter"
              >Frequently Asked Questions</Text
            >
            <div class="space-y-4 mt-4">
              {
                frontmatter.faq.map((item) => (
                  <details class="border-b border-base-200 dark:border-base-800 pb-2 group select-none">
                    <summary class="flex  cursor-pointer ">
                      <Text
                        tag="h4"
                        variant="textXL"
                        class="dark:text-white text-base-900 font-medium tracking-tighter flex items-center gap-2"
                      >
                        <svg
                          xmlns="http://www.w3.org/2000/svg"
                          fill="currentColor"
                          viewBox="0 0 256 256"
                          class="size-8 duration-300 ease-out transform group-open:-rotate-45"
                        >
                          <path d="M224,128a8,8,0,0,1-8,8H136v80a8,8,0,0,1-16,0V136H40a8,8,0,0,1,0-16h80V40a8,8,0,0,1,16,0v80h80A8,8,0,0,1,224,128Z" />
                        </svg>
                        {item.question}
                      </Text>
                    </summary>
                    <Text
                      tag="p"
                      variant="textbase"
                      class="text-base-500 dark:text-base-400 mt-2"
                    >
                      {item.answer}
                    </Text>
                  </details>
                ))
              }
            </div>
          </div>
        </div>
        <div class="flex flex-col gap-1">
          {
            frontmatter.images.map((image) => (
              <Image
                width={1000}
                height={1000}
                src={image.url}
                alt={image.alt}
                class="aspect-7/5 object-cover object-top bg-center h-full bg-base-100 dark:bg-base-800"
              />
            ))
          }
        </div>
      </div>
    </Wrapper>
  </section>
</BaseLayout>
